html, body {
	background:linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
	height:100%;
}

#mainbox {
	width: 100vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signinbox {
	width: 30%;
	height: 30%;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 2%;
}

#signinbox>span {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#signoutbox {
	display: flex;
	margin-top: 2%;
	margin-bottom: 10px;
	justify-content: center;
}

#todolist {
    margin:3rem auto;
    padding:2rem 3rem 3rem;
    max-width:700px;
    background:#FF6666;
    color:#FFF;
    box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);
}

#mainheading {
	width: 100%;
}

#newtodoform {
	width: 100%;
	display: flex;
	justify-content: center;
}

.todoinput {
	width: 70%;
}

.submitbutton {
	width: 20%;
}

.todoli {
	background-color: rgba(255,255,255,0.1);
	width: 90%;
	display: flex;
	justify-content: space-between;
}

#todolitext:active {
	border: none;
	width: 90%;
}

.complete {
	text-decoration: line-through;
}

#todolidelete {
	width: 10%
}